#!/usr/bin/env bash

VERSION='2.1.49'
OS='linux'
ANKI="anki-${VERSION}-${OS}"

cd /tmp
wget https://github.com/ankitects/anki/releases/download/${VERSION}/${ANKI}.tar.bz2
tar xfvj ${ANKI}.tar.bz2
cd ${ANKI}
./install.sh
cd .. && rm -rf ${ANKI}*

